<!DOCTYPE html>
<html>
<head>
  <title>TweetCounterTweet</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600|Work+Sans:400,700,800,900"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    media="screen" title="no title">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="header">
    <div class="container">
      <div class="header-logo">
        <h1><a href="/"><span class="alt">Tweet</span>Counter<span class="alt">Tweet</span></a></h1>
      </div>
      <div class="header-share">
        <%= image_tag("tweetcountertweetlogo-alt-c.png") %>
        <!-- <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i> -->
      </div>
      <div class="header-author">
        <ul class="author-menu">
          <li class="about-link hidden"><a href="">About</a></li>
          <li class="author-name">Created by Trevor Scandalios</li>
          <li><a href="https://github.com/scandycuz" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
          <li><a href="https://www.linkedin.com/in/trevorscandalios" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="info-header hidden">
    <div class="container">
      <p>
        <strong>TweetCounterTweet</strong> uses the Twitter Search API to automatically update with the most popular Twitter interactions, providing a unique first hand account of current events.
      </p><i class="fa fa-times" aria-hidden="true"></i>
    </div>
  </div>

  <%= yield %>

  <script>window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };

    return t;
  }(document, "script", "twitter-wjs"));</script>

</body>
</html>
